AUTH0_SECRET='5f5a8a1d45a6eef6057ec9143d9d8f5b70d850e1ad9d65d0d085903e3a2fa2f6'
AUTH0_BASE_URL='http://localhost:3000'
AUTH0_ISSUER_BASE_URL='https://dev-gnhtigaqc76kmddq.us.auth0.com'
AUTH0_CLIENT_ID='emYp69C4GdZ0LR5JevnnNG9kWK9qPaiL'
AUTH0_CLIENT_SECRET='MIm-e-kWLWU9iHtHmbcQiGv8WJjlbQf2uuNY3fwX3GwRmuHPWLQIXafrOkbXnOMx'

# FRONTEGG
FRONTEGG_APP_URL='http://localhost:3000'
FRONTEGG_BASE_URL='https://app-nypv37bm638g.frontegg.com'
FRONTEGG_CLIENT_ID='838d0cc8-1df0-469a-a728-794c124516b7'
FRONTEGG_APP_ID='a5970933-92ab-4e39-85c8-67b6c11bc4be'
FRONTEGG_ENCRYPTION_PASSWORD='a5157605e1a659bc63709bbec892f4b053e21b8f64d008fb8fbf0b93a201d805'
FRONTEGG_COOKIE_NAME='fe_session'
FRONTEGG_HOSTED_LOGIN='true'
FRONTEGG_LOG_LEVEL="debug"

# For improving nextjs perfomrance by providing environment public key to the nextjs middleware.
# The values can be found under [ENVIRONMENT] → Authentication → Identity provider → OIDC endpoints → JSON web key.
# Extract the object from within the `keys` array and use it as the below variable.
#FRONTEGG_JWT_PUBLIC_KEY=\'{"kty":"RSA", "kid":"xxx", "use":"sig", "alg":"RS256", "n":"xxxx", "e":"xxx"}\'

# END FRONTEGG

NEXT_PUBLIC_RISK_RADAR_BASE_URL='http://localhost:3001'
NEXT_PUBLIC_BACKEND_BASE_URL='http://localhost:3001'
NEXT_PUBLIC_MERCHANT_BASE_URL=https://taluspay-staging.com