RewriteEngine on

ErrorDocument 404 http://jobox.ai

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.jobox.ai/$1 [R,L]
RewriteRule ^careers$ /careers.html [L]
RewriteRule ^contact$ /contact.html [L]
