RewriteEngine on
Redirect 302 /routes/Careers/careers.html https://angel.co/l/KXUxG

ErrorDocument 404 http://jobox.ai


RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.jobox.ai/$1 [R,L]