@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans');

.home-layout {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin: 0;
    color: #fff;
}

.home-layout__nav-item--active {
    font-weight: bold;
    text-decoration: underline;
}

.home-layout section {
    height: 100vh;
}

.home-layout .heading {
    margin: 0;
    padding-top: 100px;
}

.home-layout .heading h2 {
    font-size: 2rem;
}

.home-layout .home-page .nav-header {
    width: 100%;
    margin: 0;
    background: transparent;
    padding: 10px;
    position: absolute;
    top: 25px;
}

.home-layout .home-page .nav-header .bg-faded {
    background: none;
}

.home-layout .home-page .navbar-brand, .home-layout .home-page .navbar-brand:hover, .home-layout .home-page .navbar-brand:focus {
    color: #FFF;
    font-size: 1.25rem;
}

.home-layout .home-page .navbar-light .navbar-nav .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

.home-layout .home-page .navbar-nav .nav-item {
    padding-right: 35px;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.home-layout .home-page .navbar-nav .nav-item a:hover {
    text-decoration: underline;
}

button:focus {
    outline: none !important;
}

.home-layout section.row.home-page {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-blend-mode: screen, difference, lighten;
    height: 100vh;
}

.home-layout section.row.info-page {
    background-image: linear-gradient(265deg, #ffffff, #d9e9ff);
    color: #203152;
    -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%);
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%);
}

.home-layout section.row.info-page .sub-text {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: #a8acbe;
}

.home-layout section.row.platform-page h1 {
    color: #203152;
}

.home-layout section.row.platform-page .sub-text {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    color: #a8acbe;
}

.home-layout section.row.platform-page .platform-text {
    padding-top: 50px;
}

.home-layout div.impact-page .impact-text {
    padding-top: 225px;
}

.home-layout div.impact-page .impact-sub-text {
    color: #a8acbe;
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

.home-layout div.impact-page .users-image {
    padding-top: 200px;
}

.home-layout div.impact-page img.platform-pyramid-image {
    display: none;
}

.home-layout div.impact-page button:focus {
    outline: 0;
}

.home-layout div.impact-page {
    background: linear-gradient(126deg, #ffffff 60%, #d9e9ff);
    -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
    width: 100%;
}

.btn-lg.round {
    font-family: 'Montserrat', Helvetica;
    margin-top: 80px;
    border-radius: 40px;
    height: 80px;
    border: none;
    background-color: #A053E7;
    color: inherit;
}

.home-layout .page-footer {
    padding-top: 3%;
    padding-bottom: 2%;
}

.home-layout .page-footer .nav-header {
    width: 100%;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 25px;
}

.home-layout .page-footer .bg-faded {
    background: none;
}

.home-layout .page-footer .navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
    color: #203152;
    font-size: x-large;
}

.home-layout .page-footer .home-layout .navbar-light .navbar-nav .nav-link {
    color: #a8acbe;
}

.home-layout .page-footer .copyright-text {
    padding-top: 16px;
    color: #a8acbe;
    margin: 0;
}


/* Mobile - Potrait mode */
@media (min-width: 320px) and (min-height: 500px) {
    .home-layout .home-page .navbar-nav .nav-item {
        padding-right: 40px;
        font-size: 0.8rem;
    }
    .home-layout .home-page .navbar-nav .nav-item.dashboard-item {
        display: none;
    }
    .home-layout .home-page .nav-header div#navbarNav {
        padding-top: 35px;
        z-index: 1;
    }
    div#navbarNav ul {
        flex-direction: row;
        padding-right: 0px;
    }
    .home-layout .heading h2 {
        font-size: 1.75rem;
    }
    .home-layout section.row.home-page {
        background-image: linear-gradient(62deg, #F2836F 30%, #A757DD 90%), url(assets/Home/mapx0.5.png);
    }

    .home-layout section.row.info-page {
        margin-top: -49.0%;
    }
    .home-layout section.row.info-page .main-text {
        padding-top: 160px;
        font-size: 1.75rem;
    }
    .home-layout section.row.info-page .sub-text {
        font-size: 0.8rem;
    }
    .home-layout section.row.info-page .bitmap-img {
        background-image: url(assets/Home/usax0.3.png);
        background-repeat: no-repeat;
        padding-bottom: 300px;
        background-position: right;
        background-position-y: 0%;
    }

    .home-layout section.row.platform-page img.pyramid-image {
        display: none;
    }

    .home-layout section.row.platform-page h1 {
        font-size: 1.75rem;
    }
    .home-layout section.row.platform-page .platform-text {
        padding-top: 0px;
    }
    .home-layout section.row.platform-page .sub-text {
        padding-top: 0px;
    }
    .home-layout section.row.platform-page .sub-text p {
        font-family: 'Open Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        color: #a8acbe;
        font-size: small;
    }

    .home-layout div.impact-page {
        -webkit-clip-path: none;
        clip-path: none;
    }

    .home-layout div.impact-page img.platform-pyramid-image {
        display: inline;
    }
    .home-layout div.impact-page .impact-text {
        padding-top: 75px;
        font-size: 1.5rem;
    }
    .home-layout div.impact-page .impact-sub-text {
        color: #a8acbe;
        font-family: 'Montserrat', sans-serif;
        font-size: small;
        padding-top: 0px;
    }
    .home-layout div.impact-page .users-image {
        padding-top: 50px;
        padding-left: 15px;
        height: 400px;
    }
    .home-layout .page-footer {
        display:none;
    }
    .btn-lg.round {
        margin-top: 20px;
    }
}

@media (min-width: 360px) and (min-height: 640px) {
    .home-layout .home-page .nav-header div#navbarNav {
        padding-left: 15px;
        padding-top: 35px;
        z-index: 1;
    }
    .home-layout .home-page .navbar-nav .nav-item {
        padding-right: 45px;
        font-size: 0.8rem;
    }
    .home-layout .heading h2 {
        font-size: 1.75rem;
    }
    .home-layout section.row.info-page .bitmap-img {
        background-image: url(assets/Home/usax0.3.png);
    }

    .home-layout section.row.platform-page img.pyramid-image {
        display: none;
    }

    .home-layout section.row.platform-page h1 {
        font-size: 1.75rem;
    }

    .home-layout section.row.platform-page .platform-text {
        padding-top: 0px;
    }

    .home-layout section.row.platform-page .sub-text p {
        font-family: 'Open Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        color: #a8acbe;
        font-size: small;
    }

    .home-layout div.impact-page {
        -webkit-clip-path: none;
        clip-path: none;
    }

    .home-layout div.impact-page img.platform-pyramid-image {
        display: inline;
    }

    .home-layout div.impact-page .impact-text {
        padding-top: 75px;
        font-size: 1.5rem;
    }

    .home-layout div.impact-page .impact-sub-text {
        color: #a8acbe;
        font-family: 'Montserrat', sans-serif;
        font-size: small;
    }

    .home-layout div.impact-page .users-image {
        padding-left: 40px;
    }

    .btn-lg.round {
        margin-top: 20px;
    }
}

@media (min-width: 375px) and (min-height: 667px) {
    .home-layout section.row.info-page {
        margin-top: -48.2%;
    }

    .home-layout section.row.info-page .main-text {
        padding-top: 190px;
    }

    .home-layout section.row.platform-page img.pyramid-image {
        display: none;
    }

    .home-layout section.row.platform-page .platform-text {
        padding-top: 0px;
    }
    .home-layout section.row.platform-page .sub-text p {
        font-family: 'Open Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        color: #a8acbe;
        font-size: small;
    }
}

@media (min-width: 412px) and (min-height: 660px) {
    .home-layout section.row.info-page {
        margin-top: -47.7%;
    }
    .home-layout section.row.platform-page img.pyramid-image {
        display: none;
    }

    .home-layout section.row.platform-page .platform-text {
        padding-top: 0px;
    }
    .home-layout section.row.platform-page .sub-text p {
        font-family: 'Open Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        color: #a8acbe;
        font-size: small;
    }

    .home-layout div.impact-page .users-image {
        padding-left: 50px;
    }
}

/* Mobile - Landscape mode */
@media (min-width: 568px) and (min-height: 320px) {
    .home-layout .heading {
        padding-top: 25px;
    }
    .home-layout .heading h2 {
        font-size: 2rem;
    }
    .home-layout section.row.home-page {
        background-image: linear-gradient(62deg, #F2836F 30%, #A757DD 90%), url(assets/Home/mapx0.5.png);
    }
    .home-layout section.row.info-page {
        margin-top: -14.8%;
    }

    .home-layout section.row.info-page .main-text {
        padding-top: 80px;
    }

    .home-layout section.row.info-page .main-text h2 {
        font-size: 1.5rem;
    }
    .home-layout section.row.info-page .sub-text {
        font-size: 1rem;
    }
    .home-layout section.row.info-page .bitmap-img {
        background-image: url(assets/Home/usax0.2.png);
        background-repeat: no-repeat;
        padding-bottom: 300px;
        background-position: right;
        background-position-y: 0%;
    }

    .home-layout section.row.platform-page img.pyramid-image {
        display: none;
    }

    .home-layout section.row.platform-page h1 {
        font-size: 1.75rem;
    }
    .home-layout section.row.platform-page .platform-text {
        padding-top: 0px;
    }
    .home-layout section.row.platform-page .sub-text {
        padding-top: 0px;
    }
    .home-layout section.row.platform-page .sub-text p {
        font-family: 'Open Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        color: #a8acbe;
        font-size: small;
        padding-top: 0px;
    }
    .home-layout div.impact-page {
        -webkit-clip-path: none;
        clip-path: none;
    }

    .home-layout div.impact-page img.platform-pyramid-image {
        display: inline;
    }
    .home-layout div.impact-page .impact-text {
        padding-top: 20px;
        font-size: 1.5rem;
    }
    .home-layout div.impact-page .impact-sub-text {
        color: #a8acbe;
        font-family: 'Montserrat', sans-serif;
        font-size: small;
        padding-top: 0px;
    }
    .home-layout div.impact-page .users-image {
        padding-left: 150px;
        padding-top: 50px;
        height: 350px;
    }
    .btn-lg.round {
        margin-top: 20px;
    }
}

@media (min-width: 640px) and (min-height: 360px) {
    .home-layout section.row.info-page .main-text {
        padding-top: 90px;
    }

    .home-layout div.impact-page .users-image {
        padding-left: 185px;
    }
}

@media (min-width: 667px) and (min-height: 375px) {
    .home-layout section.row.info-page .main-text {
        padding-top: 100px;
    }

    .home-layout div.impact-page .users-image {
        padding-left: 200px;
    }
}

@media (min-width: 660px) and (min-height: 412px) {
    .home-layout section.row.info-page {
        margin-top: -16.5%;
    }
    .home-layout section.row.info-page .main-text {
        padding-top: 120px;
    }
    .home-layout div.impact-page .users-image {
        padding-left: 200px;
    }
}

@media (min-width: 992px) {
    .home-layout .home-page .navbar-nav .nav-item.dashboard-item {
        display: inline;
    }
    .home-layout .home-page .navbar-nav .nav-item {
        padding-right: 35px;
        font-size: 0.8rem;
        letter-spacing: 1px;
    }
    div#navbarNav {
        background: none;
    }
}

/* 1200 set */
@media (min-width: 1280px) and (min-height: 350px) {
    .home-layout .home-page .nav-header div#navbarNav{
        display: inline-block;
    }
    .home-layout .heading {
        padding-top: 125px;
    }
    .home-layout .heading h2 {
        font-size: 2.5rem;
    }
    .home-layout section.row.home-page {
        background-image: linear-gradient(62deg, #F2836F 30%, #A757DD 90%), url(assets/Home/mapx1.png);
    }
    .home-layout section.row.info-page {
        margin-top: -14.4%;
    }
    .home-layout section.row.info-page div.text-background {
        display: none;
    }
    .home-layout section.row.info-page .main-text {
        padding-top: 200px;
    }
    .home-layout section.row.info-page .main-text h2 {
        font-size: 1.75rem;
    }
    .home-layout section.row.info-page .sub-text p {
        padding-top: 30px;
        color: #a8acbe;
        font-size: 1.2rem;
    }
    .home-layout section.row.info-page .bitmap-img {
        background-image: url(assets/Home/usax0.5.png);
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: 70%;
        background-size: 90%;
        padding-bottom: 0px;
    }
    .home-layout section.row.platform-page img.pyramid-image {
        display: inline;
    }
    .home-layout section.row.platform-page h1 {
        font-size: 1.75rem;
    }
    .home-layout section.row.platform-page .platform-text {
        padding-top: 50px;
    }
    .home-layout section.row.platform-page .sub-text p {
        font-family: 'Open Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        color: #a8acbe;
        font-size: 1.2rem;
        padding-top: 30px;
    }

    .home-layout div.impact-page {
        -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
    }
    .home-layout div.impact-page img.platform-pyramid-image {
        display: none;
    }
    .home-layout div.impact-page .impact-text {
        padding-top: 225px;
        font-size: 1.75rem;
    }
    .home-layout div.impact-page .impact-sub-text {
        color: #a8acbe;
        font-family: 'Montserrat', sans-serif;
        padding-top: 30px;
        padding-bottom: 65px;
        font-size: 1.2rem;
    }
    .home-layout div.impact-page .users-image {
        padding-top: 200px;
        height: auto;
        padding-left: 100px;
    }

    .home-layout .page-footer {
        display: block;
        padding-top: 3%;
        padding-bottom: 2%;
    }
    .home-layout .page-footer .nav-header {
        width: 100%;
        margin: 0;
        padding: 10px;
        position: absolute;
        top: 25px;
    }
    .home-layout .page-footer .copyright-text {
        padding-top: 16px;
        color: #a8acbe;
        margin: 0;
    }
}

@media (min-width: 1280px) and (min-height: 800px) {
    .home-layout section.row.info-page {
        margin-top: -16.0%;
    }
}

@media (min-width: 1280px) and (min-height: 1024px) {
    .home-layout .heading {
        padding-top: 175px;
    }
    .home-layout section.row.info-page {
        margin-top: -20.5%;
    }
    .home-layout section.row.info-page .main-text {
        padding-top: 300px;
    }
    .bitmap-img {
        background-position-y: 50%;
        background-size: 90%;
    }
}

/* 1300 set */
@media (min-width: 1366px) and (min-height: 768px) {
    .home-layout .heading {
        padding-top: 125px;
    }
    .home-layout .heading h2 {
        font-size: 3rem;
    }
    .home-layout section.row.info-page {
        margin-top: -14.4%;
    }
    .home-layout section.row.info-page .main-text {
        padding-top: 200px;
    }
}

/* 1400 set */
@media (min-width: 1400px) and (min-height: 750px) {
    .home-layout .heading {
        padding-top: 150px;
    }
    .home-layout section.row.info-page {
        margin-top: -14.2%;
    }
    .home-layout section.row.info-page .main-text {
        padding-top: 250px;
    }
    .home-layout section.row.info-page .bitmap-img {
        background-image: url(assets/Home/usax1.png);
        background-position-y: 83%;
        background-size: 100%;
    }

    .home-layout .platform-page .sub-text p {
        font-family: 'Open Sans', sans-serif;
        font-family: 'Montserrat', sans-serif;
        color: #a8acbe;
    }
    .home-layout div.impact-page .impact-sub-text p {
        color: #a8acbe;
        padding-top: 40px;
        font-family: 'Montserrat', sans-serif;
    }
}

@media (min-width: 1400px) and (min-height: 900px) {
    .home-layout section.row.info-page {
        margin-top: -16.0%;
    }
    .home-layout section.row.info-page .main-text {
        padding-top: 300px;
    }
}

/* 1500 set */
@media (min-width: 1536px) and (min-height: 834px) {
    .home-layout section.row.info-page {
        margin-top: -13.9%;
    }
    .bitmap-img {
        background-position-y: 88%;
    }
}

/* 1600 Set */

@media (min-width: 1600px) and (min-height: 900px) {
    .home-layout .home-page .navbar-nav .nav-item {
        font-size: 0.9rem;
    }
    .home-layout section.row.info-page {
        margin-top: -14.3%;
    }
    .home-layout section.row.info-page .main-text {
        padding-top: 300px;
    }
    .home-layout section.row.info-page .bitmap-img {
        background-position-y: 84%;
    }
    .home-layout div.impact-page .impact-text {
        padding-top: 280px;
    }
    .home-layout div.impact-page .impact-sub-text p {
        padding-top: 40px;
    }
    .home-layout div.impact-page .users-image {
        padding-top: 250px;
        padding-left: 100px;
    }
}

@media (min-width: 1680px) and (min-height: 1050px) {
    .home-layout section.row.info-page {
        margin-top: -15.9%;
    }
}

/* 1920 Set */
@media (min-width: 1920px) and (min-height: 1080px) {
    .home-layout .heading {
        padding-top: 200px;
    }
    .home-layout .heading h2 {
        font-size: 4rem;
    }
    .home-layout .home-page .navbar-nav .nav-item {
        padding-right: 60px;
    }
    .home-layout section.row.home-page {
        background-image: linear-gradient(62deg, #F2836F 30%, #A757DD 90%), url(assets/Home/mapx1.5.png);
    }
    .home-layout section.row.info-page {
        margin-top: -14.3%;
    }
    .home-layout section.row.info-page .main-text {
        padding-top: 300px;
    }
    .home-layout section.row.info-page .main-text h2 {
        font-size: 3rem;
    }
    .home-layout section.row.info-page .sub-text p {
        color: #a8acbe;
        font-size: 1.5rem;
    }
    .home-layout section.row.info-page .bitmap-img {
        background-image: url(assets/Home/usax1.png);
        background-position-y: 84%;
    }

    .home-layout section.row.platform-page h1 {
        font-size: 3rem;
    }
    .home-layout section.row.platform-page .sub-text p {
        color: #a8acbe;
        font-size: 1.5rem;
    }
    .home-layout div.impact-page .impact-text {
        padding-top: 255px;
        font-size: 3rem;
    }
    .home-layout div.impact-page .impact-sub-text {
        color: #a8acbe;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        padding-bottom: 25px;
    }
    .home-layout div.impact-page .users-image {
        padding-top: 240px;
        padding-left: 150px;
    }
}

@media (min-width: 1920px) and (min-height: 1200px) {
    .home-layout section.row.info-page {
        margin-top: -15.9%;
    }
}

/* 2560 Set */
@media (min-width: 2560px) and (min-height: 1339px) {
    .home-layout .heading {
        padding-top: 250px;
    }

    .home-layout .heading h2 {
        font-size: 5rem;
    }

    .home-layout .home-page .navbar-nav .nav-item {
        font-size: 1.1rem;
        letter-spacing: 2px;
    }

    .home-layout .home-page .navbar-brand, .home-layout .home-page .navbar-brand:hover, .home-layout .home-page .navbar-brand:focus {
        font-size: 2rem;
    }

    .home-layout .home-page ul {
        padding-left: 200px;
    }

    .home-layout section.row.info-page {
        margin-top: -13.2%;
    }
    .home-layout section.row.info-page .main-text {
        padding-top: 375px;
    }
    .home-layout section.row.info-page .main-text h2 {
        font-weight: bold;
        font-size: 3.5rem;
    }
    .home-layout section.row.info-page .sub-text p {
        color: #a8acbe;
        font-size: 2rem;
    }
    .home-layout section.row.info-page .bitmap-img {
        background-image: url(assets/Home/usax2.png);
        background-position-y: 84%;
        background-size: 95%;
    }

    .home-layout section.row.platform-page h1 {
        font-size: 3.5rem;
        font-weight: bold;
    }

    .home-layout section.row.platform-page .sub-text p {
        color: #a8acbe;
        font-size: 2rem;
    }

    .home-layout div.impact-page .impact-text {
        padding-top: 300px;
        font-weight: bold;
    }
    .home-layout div.impact-page .impact-sub-text {
        color: #a8acbe;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        padding-bottom: 30px;
    }
    .home-layout div.impact-page .users-image {
        padding-top: 300px;
        padding-left: 400px;
        height: 900px;
    }

    .home-layout .page-footer p {
        font-size: 1.25rem;
    }
}

@media (min-width: 2560px) and (min-height: 1440px) {
    .home-layout .home-page .navbar-nav .nav-item {
        font-size: 1.2rem;
    }
    .home-layout section.row.info-page {
        margin-top: -14.2%;
    }
    .home-layout section.row.info-page .main-text {
        padding-top: 450px;
    }
    .home-layout section.row.info-page .bitmap-img {
        background-image: url(assets/Home/usax1.png);
        background-position-y: 82%;
    }
    .home-layout .platform-page .sub-text {
        color: #a8acbe;
    }

    .home-layout div.impact-page .impact-sub-text {
        font-family: 'Montserrat', sans-serif;
    }
    .home-layout div.impact-page button {
        width: 75%;
    }
}
