.home-page .heading {
  font-family: 'Montserrat', sans-serif;
}

.home-page .heading h1 {
  font-size: 20px;
  font-weight: 300;
}

.home-page .text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.home-page .home-page-content {
  max-width: 800px;
}

.btn.btn-join-us {
  background-color: #ffffff;
  border-radius: 3px;
  color: #014dcb;;
  font-size: 18px;
  font-weight: 700;
  height: 48px;
  padding: 0;
  line-height: 48px;
  width: 209px;
}


@media (min-width: 576px) {
  .home-page .heading h1 {
    font-size: 50px;
    font-weight: 200;
  }

  .home-page .text {
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 0.4px;
  }
}
