@media (min-width: 320px) {
    video#bgvid {
        display: none;
    }
}

@media (min-height: 720px) {
    video#bgvid {
        display: block;
        position: relative;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        z-index: -100;
        height: auto;
        -ms-transform: translateX(-50%) translateY(-48.65%);
        -moz-transform: translateX(-50%) translateY(-48.65%);
        -webkit-transform: translateX(-50%) translateY(-48.65%);
        transform: translateX(-50%) translateY(-48.65%);
    }
}

@media (min-width: 1280px) {
    video#bgvid {
        display: block;
        position: relative;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        z-index: -100;
        height: auto;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-49%);
    }
}

@media (min-width: 1280px) and (min-height: 800px) {
    video#bgvid {
        display: none;
    }
    .home-layout section.row.home-page {
        background: linear-gradient(62deg, #F2836F 30%, #A757DD 90%), url(assets/Home/mapx1.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-blend-mode: screen, difference, lighten;
    }
}

@media (min-width: 1280px) and (min-height: 1024px) {
    video#bgvid {
        display: none;
    }
    .home-layout section.row.home-page {
        background: linear-gradient(62deg, #F2836F 30%, #A757DD 90%), url(assets/Home/mapx1.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-blend-mode: screen, difference, lighten;
    }
}

@media (min-width: 1366px) and (min-height: 768px) {
    video#bgvid {
        display: block;
        position: relative;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        z-index: -100;
        height: auto;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-48.7%);
    }
    .home-layout section.row.home-page {
        background: none;
    }
}

@media (min-width: 1440px) and (min-height: 799px) {
    video#bgvid {
        display: block;
        position: relative;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        z-index: -100;
        height: auto;
        -ms-transform: translateX(-50%) translateY(-49%);
        -moz-transform: translateX(-50%) translateY(-49%);
        -webkit-transform: translateX(-50%) translateY(-49%);
        transform: translateX(-50%) translateY(-49%);
    }
}

@media (min-width: 1440px) and (min-height: 900px) {
    video#bgvid {
        display: none;
        /*-ms-transform: translateX(-50%) translateY(-50%);*/
        /*-moz-transform: translateX(-50%) translateY(-50%);*/
        /*-webkit-transform: translateX(-50%) translateY(-50%);*/
        /*transform: translateX(-50%) translateY(-49%);*/
    }
    .home-layout section.row.home-page {
        background: linear-gradient(62deg, #F2836F 30%, #A757DD 90%), url(assets/Home/mapx1.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-blend-mode: screen, difference, lighten;
    }
}

@media (min-width: 1536px) and (min-height: 834px) {
    video#bgvid {
        display: block;
        position: relative;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        z-index: -100;
        height: auto;
        -ms-transform: translateX(-50%) translateY(-48%);
        -moz-transform: translateX(-50%) translateY(-48%);
        -webkit-transform: translateX(-50%) translateY(-48%);
        transform: translateX(-50%) translateY(-47.7%);
    }
}

@media (min-width: 1600px) and (min-height: 900px) {
    video#bgvid {
        display: block;
        position: relative;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        z-index: -100;
        height: auto;
        -ms-transform: translateX(-50%) translateY(-48%);
        -moz-transform: translateX(-50%) translateY(-48%);
        -webkit-transform: translateX(-50%) translateY(-48%);
        transform: translateX(-50%) translateY(-45.85%);
    }
    .home-layout section.row.home-page {
        background: none;
    }
}


@media (min-width: 1680px) and (min-height: 1050px) {
    video#bgvid {
        display: none;
        /*-ms-transform: translateX(-50%) translateY(-48%);*/
        /*-moz-transform: translateX(-50%) translateY(-48%);*/
        /*-webkit-transform: translateX(-50%) translateY(-48%);*/
        /*transform: translateX(-50%) translateY(-46%);*/
    }
    .home-layout section.row.home-page {
        background: linear-gradient(62deg, #F2836F 30%, #A757DD 90%), url(assets/Home/mapx1.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-blend-mode: screen, difference, lighten;
    }
}

@media (min-width: 1920px) and (min-height: 1080px) {
    video#bgvid {
        display: block;
        position: relative;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        z-index: -100;
        height: auto;
        -ms-transform: translateX(-50%) translateY(-48%);
        -moz-transform: translateX(-50%) translateY(-48%);
        -webkit-transform: translateX(-50%) translateY(-48%);
        transform: translateX(-50%) translateY(-46.9%);
    }
    .home-layout section.row.home-page {
        background: none;
    }
}

@media (min-width: 1920px) and (min-height: 1200px) {
    video#bgvid {
        display: none;
        /*-ms-transform: translateX(-50%) translateY(-48%);*/
        /*-moz-transform: translateX(-50%) translateY(-48%);*/
        /*-webkit-transform: translateX(-50%) translateY(-48%);*/
        /*transform: translateX(-50%) translateY(-47.2%);*/
    }
    .home-layout section.row.home-page {
        background-image: linear-gradient(62deg, #F2836F 30%, #A757DD 90%), url(assets/Home/mapx1.5.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-blend-mode: screen, difference, lighten;
    }
}

@media (min-width: 2400px) {
    video#bgvid {
         display: block;
        position: relative;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        z-index: -100;
        height: auto;
         -ms-transform: translateX(-50%) translateY(-30%);
         -moz-transform: translateX(-50%) translateY(-30%);
         -webkit-transform: translateX(-50%) translateY(-30%);
         transform: translateX(-50%) translateY(-43%);
     }
    .home-layout section.row.home-page {
        background: none;
    }
}

@media (min-width: 2500px) {
    video#bgvid {
        display: block;
        position: relative;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        z-index: -100;
        height: auto;
        -ms-transform: translateX(-50%) translateY(-30%);
        -moz-transform: translateX(-50%) translateY(-30%);
        -webkit-transform: translateX(-50%) translateY(-30%);
        transform: translateX(-50%) translateY(-30%);
    }
    .home-layout section.row.home-page {
        background: none;
    }
}

@media (min-width: 2560px) {
    video#bgvid {
        display: block;
        position: relative;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        z-index: -100;
        height: auto;
        -ms-transform: translateX(-50%) translateY(-43%);
        -moz-transform: translateX(-50%) translateY(-43%);
        -webkit-transform: translateX(-50%) translateY(-43%);
        transform: translateX(-50%) translateY(-43%);
    }
    .home-layout section.row.home-page {
        background: none;
    }
}

    .home-layout section.row.home-page {
        background: linear-gradient(62deg, #F2836F 30%, #A757DD 90%), url(assets/Home/mapx1.png)!important;
        background-position: right bottom!important;
        background-repeat: no-repeat!important;
        background-blend-mode: screen, difference, lighten!important;
    }