@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans');

.container-fluid {
    font-family: 'Montserrat', sans-serif;
}

.careers-layout {
    background: linear-gradient(50deg, #F2836F 25%, #A757DD 80%);
    background-blend-mode: screen, difference, lighten;
    height: 100%;
    font-weight: lighter;
}

.careers-layout .nav-header .bg-faded {
    background: none;
}

.careers-layout a.navbar-brand, .careers-layout a.navbar-brand:hover, .careers-layout a.navbar-brand:focus {
    color: #FFF;
    font-size: 1.25rem;
}

.careers-layout .navbar-light .navbar-nav a.nav-link {
    color: #FFF;
}

.careers-layout .navbar-nav .nav-item {
    padding-right: 35px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 200;
}

.careers-layout .navbar-nav .nav-item a:hover {
    text-decoration: underline;
}

.careers-layout section.careers-layout-body div div .careers-image {
    background-image: url('../../assets/Careers/base x0.35.png');
    background-repeat: no-repeat;
    height: 100%;
}

.careers-layout section.careers-layout-body div.row {
    height: 100%;
}

button:focus {
    outline: none !important;
}

@media (min-width: 320px) {
    div#navbarNav {
        background: lightgray;
        z-index: 1;
    }
    .careers-view div.row.email {
        padding-left: 15px;
    }
    .careers-layout section.careers-layout-body {
        padding-left: 0px;
    }
    .careers-layout section.careers-layout-body .career-content div.image-layer {
        height: 40%;
    }
    .careers-layout section.careers-layout-body div div .careers-image {
        background-image: url('../../assets/Careers/base x0.3.png');
        background-repeat: no-repeat;
        height: 100%;
    }
    section.nav-header {
        height: 15vh;
        padding-top: 25px;
    }
    section.careers-layout-body {
        height: 85vh;
        overflow: auto;
    }

    .careers-layout .nav-header #navbarNav {
        display: none;
    }
    .careers-layout-body {
        padding-top: 1rem;
    }
}

@media (min-width: 568px) {
    section.nav-header {
        height: 15vh;
        padding-top: 0px;
    }
    section.careers-layout-body {
        padding-top: 2rem;
    }
    .careers-layout section.careers-layout-body div.row {
        height: 100%;
    }
    /*.career-content div.image-layer {*/
    /*//height: 70%;*/
    /*}*/
    .careers-layout section.careers-layout-body div div .careers-image {
        background-image: url('../../assets/Careers/base x0.3.png');
        background-repeat: no-repeat;
        height: 100%;
    }
}

@media (min-width: 600px) {
    section.nav-header {
        height: 15vh;
        padding-top: 0px;
    }
    section.careers-layout-body {
        padding-top: 1rem;
    }
    .careers-layout section.careers-layout-body .career-content div.image-layer {
        height: 70%;
    }
    .careers-layout section.careers-layout-body div div .careers-image {
        background-image: url('../../assets/Careers/base x0.3.png');
    }
}

@media (min-height: 750px) {
    section.nav-header {
        height: 15vh;
        padding-top: 25px;
    }
    section.careers-layout-body {
        height: 85vh;
        overflow: auto;
    }
}

@media (min-width: 992px) {
    div#navbarNav {
        background: none;
    }
}

@media (min-width: 1024px) {
    section.nav-header {
        height: 15vh;
        padding-top: 25px;
    }
    section.careers-layout-body {
        height: 85vh;
        overflow: auto;
    }
    .careers-layout section.careers-layout-body {
        padding-left: 0px;
    }
    .careers-layout section.careers-layout-body .career-content div.image-layer {
        height: 100%;
    }
    .careers-layout .navbar-nav .nav-item {
        padding-right: 20px;
    }
}

@media (min-width: 1200px) {
    .careers-layout section.careers-layout-body .career-content div.image-layer {
        padding-top: 50px;
    }
    .careers-layout section.careers-layout-body div div .careers-image {
        background-image: url('../../assets/Careers/base x0.6.png');
        background-repeat: no-repeat;
        height: 100%;
    }
    section.careers-layout-body {
        height: 85vh;
        overflow: auto;
        padding-top: 2rem;
    }
}

@media (min-width: 1366px) {
    .careers-layout section.careers-layout-body .career-content div.image-layer {
        padding-top: 0px;
    }
    section.careers-layout-body {
        padding-left: 0px;
    }
    section.careers-layout-body .career-content {
        padding-top: 75px;
    }
    .careers-layout section.careers-layout-body div div .careers-image {
        background-image: url('../../assets/Careers/base x0.65.png');
    }
    .careers-layout .navbar-nav .nav-item {
        padding-right: 35px;
    }
}

@media (min-width: 1600px) {
    .careers-layout section.careers-layout-body div div .careers-image {
        background-image: url('../../assets/Careers/base x0.75.png');
        background-repeat: no-repeat;
        height: 100%;
    }
    .careers-layout .navbar-nav .nav-item {
        font-size: 0.9rem;
    }
}

@media (min-width: 1920px) {
    section.careers-layout-body {
        padding-left: 0px;
    }
    section.careers-layout-body .career-content {
        padding-top: 100px;
    }
    .careers-layout section.careers-layout-body div div .careers-image {
        background-image: url('../../assets/Careers/base x0.9.png');
    }
    .careers-layout .navbar-nav .nav-item {
        padding-right: 60px;
    }
}

@media (min-width: 2500px) {
    .careers-layout section.careers-layout-body div div .careers-image {
        background-image: url('../../assets/Careers/base x1.2.png');
    }
    .careers-layout a.navbar-brand, .careers-layout a.navbar-brand:hover, .careers-layout a.navbar-brand:focus {
        font-size: 2rem;
    }
    .careers-layout .navbar-nav .nav-item {
        font-size: 1.1rem;
        letter-spacing: 2px;
    }
}
