@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans');

.container-fluid {
    font-family: 'Montserrat', sans-serif;
}

.page-layout {
    background: linear-gradient(50deg, #F2836F 25%, #A757DD 80%);
    background-blend-mode: screen, difference, lighten;
    height: 100%;
    font-weight: lighter;
}

.page-layout .nav-header .bg-faded {
    background: none;
}

.page-layout a.navbar-brand, .page-layout a.navbar-brand:hover, .page-layout a.navbar-brand:focus {
    color: #FFF;
    font-size: 1.25rem;
}

.page-layout .navbar-light .navbar-nav a.nav-link {
    color: #FFF;
}

.page-layout .navbar-nav .nav-item {
    padding-right: 35px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 200;
}

.page-layout .navbar-nav .nav-item a:hover {
    text-decoration: underline;
}

button:focus {
    font-family: 'Montserrat', sans-serif;
    outline: none !important;
}

@media (min-width: 320px) {
    .page-layout .navbar-nav .nav-item {
        padding-right: 25px;
        font-size: 0.8rem;
    }

    .page-layout .navbar-nav .nav-item.dashboard-item {
        display: none;
    }

    .page-layout section.nav-header div#navbarNav {
        padding-top: 30px;
        z-index: 1;
        padding-left: 0px;
    }

    .page-layout section.nav-header div#navbarNav ul {
        flex-direction: row;
        padding-right: 0px;
    }

    section.nav-header {
        position: relative;
        padding-top: 25px;
    }

    section.page-layout-body {
        /*overflow-y: scroll;*/
        /*overflow-scrolling: touch;*/
    }

    .page-layout-body {
        padding-top: 1.75rem;
    }
}

@media (min-width: 360px) {
    .page-layout .navbar-nav .nav-item {
        padding-right: 40px;
    }
    .page-layout section.nav-header div#navbarNav {
        padding-left: 15px;
    }
}

@media (min-width: 568px) {
    section.page-layout-body {
        padding-top: 2rem;
    }
}

@media (min-height: 750px) {
    section.nav-header {
        /*height: 15vh;*/
        padding-top: 25px;
    }
    section.page-layout-body {
        /*height: 85vh;*/
        /*overflow-y: scroll;*/
        /*overflow-scrolling: touch;*/
    }
}

@media (min-width: 992px) {
    .page-layout .navbar-nav .nav-item.dashboard-item {
        display: inline;
    }
    .page-layout .navbar-nav .nav-item {
        padding-right: 35px;
        font-size: 0.8rem;
        letter-spacing: 1px;
        font-weight: 200;
    }

    div#navbarNav {
        background: none;
    }
}

@media (min-width: 1024px) {
    .page-layout .navbar-nav .nav-item {
        padding-right: 20px;
    }
}

@media (min-width: 1200px) {
    section.nav-header {
        height: 15vh;
    }
    div#navbarNav {
        background: none;
    }
    section.page-layout-body {
        height: 85vh;
    }
}

@media (min-width: 1366px) {
    .page-layout .navbar-nav .nav-item {
        padding-right: 35px;
    }
}

@media (min-width: 1600px) {
    .page-layout .navbar-nav .nav-item {
        font-size: 0.9rem;
    }
}

@media (min-width: 1920px) {
    .page-layout .navbar-nav .nav-item {
        padding-right: 60px;
    }
}

@media (min-width: 2560px) {
    .page-layout a.navbar-brand, .page-layout a.navbar-brand:hover, .page-layout a.navbar-brand:focus {
        font-size: 2rem;
    }
    .page-layout .navbar-nav .nav-item {
        font-size: 1.1rem;
        letter-spacing: 2px;
    }
}

.container-fluid.team-view {
    color: #fff;
}

.team-view .meet-team-text {
    padding-top: 25px;
}

.team-view .meet-team-text p {
    font-size: 2.5rem;
    font-weight: 200;
}

.team-view .oval-image {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.team-view .team-member-info {
    padding: 20px;
}

.team-view .team-member-info .individual-member {
    padding: 30px;
}

.team-view .team-member-info .individual-member .member-name {
    padding-top: 20px;
    font-size: 1.56rem;
    letter-spacing: 1px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.team-view .team-member-info .individual-member .member-role {
    opacity: 0.5;
    font-size: 0.95rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.team-view .team-member-info .individual-member .member-staff {
    visibility: hidden;
}
.team-view .team-member-info .individual-member .member-title {
    font-size: 0.95rem;
    font-weight: 300;
    letter-spacing: 1px;
    opacity: 0.5;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.team-view .team-member-info .individual-member span.social a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.team-view .team-member-info .individual-member span.social a:hover {
    text-decoration: none;
}

.team-view .team-member-info .individual-member span.social a .fa-envelope {
    padding-left: 20px;
}

.team-view .team-member-info .individual-member span.social {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: inline;
}

.team-view .team-member-info .individual-member img.social-icon {
    font-size: 24px;
}

button:focus {
    outline: none !important;
}

@media (min-width: 320px) {
    div#navbarNav ul {
        flex-direction: row;
        padding-right: 0px;
    }
    .team-view .oval-image {
        width: 75%;
    }
    .container-fluid.team-view {
        color: #fff;
        height: 100% !important;
    }
    .team-view .team-member-info {
        padding: 0px;
    }
    .team-view .team-member-info .individual-member {
        padding: 15px;
    }
}

@media (min-width: 600px) {
    .team-view .oval-image {
        width: 40%;
    }
}

@media (min-width: 992px) {
    div#navbarNav {
        background: none;
    }
    .team-view .oval-image {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .team-view .oval-image {
        width: 100%;
        height: 173px;
    }
    .team-view .meet-team-text {
        padding-top: 20px;
    }
    .team-view .meet-team-text p {
        font-size: 3.5rem;
    }
    .team-view .team-member-info {
        padding: 20px;
    }
    .team-view .team-member-info .individual-member {
        padding: 20px;
    }
}

@media (min-width: 1400px) {
    .team-view .oval-image {
        height: 193px;
    }
}

@media (min-width: 1600px) {
    .team-view .oval-image {
        height: 232px;
    }
}

@media (min-width: 1920px) {
    .team-view .oval-image {
        height: 262px;
    }
}


@media (min-width: 2500px) {
    .team-view .oval-image {
        width: 70%;
        height: 252px;
    }
    .team-view .meet-team-text {
        padding-top: 50px;
    }
    .team-view .team-member-info {
        padding: 20px;
    }
    .team-view .team-member-info .individual-member {
        padding: 30px;
    }
}
