
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans');

.container-fluid {
    font-family: 'Montserrat', sans-serif;
}

.page-layout {
    background: linear-gradient(50deg, #F2836F 25%, #A757DD 80%);
    background-blend-mode: screen, difference, lighten;
    height: 100%;
    font-weight: lighter;
}

.page-layout .nav-header .bg-faded {
    background: none;
}

.page-layout a.navbar-brand, .page-layout a.navbar-brand:hover, .page-layout a.navbar-brand:focus {
    color: #FFF;
    font-size: 1.25rem;
}

.page-layout .navbar-light .navbar-nav a.nav-link {
    color: #FFF;
}

.page-layout .navbar-nav .nav-item {
    padding-right: 35px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 200;
}

.page-layout .navbar-nav .nav-item a:hover {
    text-decoration: underline;
}

button:focus {
    font-family: 'Montserrat', sans-serif;
    outline: none !important;
}

@media (min-width: 320px) {
    .page-layout .navbar-nav .nav-item {
        padding-right: 25px;
        font-size: 0.8rem;
    }

    .page-layout .navbar-nav .nav-item.dashboard-item {
        display: none;
    }

    .page-layout section.nav-header div#navbarNav {
        padding-top: 30px;
        z-index: 1;
        padding-left: 0px;
    }

    .page-layout section.nav-header div#navbarNav ul {
        flex-direction: row;
        padding-right: 0px;
    }

    section.nav-header {
        height: 15vh;
        padding-top: 25px;
    }

    section.page-layout-body {
        height: 85vh;
        overflow: auto;
    }

    .page-layout-body {
        padding-top: 1.75rem;
    }
}

@media (min-width: 360px) {
    .page-layout .navbar-nav .nav-item {
        padding-right: 40px;
    }
    .page-layout section.nav-header div#navbarNav {
        padding-left: 15px;
    }
}

@media (min-width: 568px) {
    section.page-layout-body {
        padding-top: 2rem;
    }
}

@media (min-height: 750px) {
    section.nav-header {
        height: 15vh;
        padding-top: 25px;
    }
    section.page-layout-body {
        height: 85vh;
        overflow: auto;
    }
}

@media (min-width: 992px) {
    .page-layout .navbar-nav .nav-item.dashboard-item {
        display: inline;
    }
    .page-layout .navbar-nav .nav-item {
        padding-right: 35px;
        font-size: 0.8rem;
        letter-spacing: 1px;
        font-weight: 200;
    }

    div#navbarNav {
        background: none;
    }
}

@media (min-width: 1024px) {
    .page-layout .navbar-nav .nav-item {
        padding-right: 20px;
    }
}

@media (min-width: 1200px) {
    div#navbarNav {
        background: none;
    }
    section.page-layout-body {
        height: 85vh;
    }
}

@media (min-width: 1366px) {
    .page-layout .navbar-nav .nav-item {
        padding-right: 35px;
    }
}

@media (min-width: 1600px) {
    .page-layout .navbar-nav .nav-item {
        font-size: 0.9rem;
    }
}

@media (min-width: 1920px) {
    .page-layout .navbar-nav .nav-item {
        padding-right: 60px;
    }
}

@media (min-width: 2560px) {
    .page-layout a.navbar-brand, .page-layout a.navbar-brand:hover, .page-layout a.navbar-brand:focus {
        font-size: 2rem;
    }
    .page-layout .navbar-nav .nav-item {
        font-size: 1.1rem;
        letter-spacing: 2px;
    }
}

.contact-view {
    color: #fff;
}

.contact-view span {
    display: inline-flex;
    text-align: center;
}

.contact-view span a {
    color: #fff;
}

.contact-view .address-map-image img {
    height: 50%;
}

@media (min-width: 320px) {
    .contact-view .headquarter-text {
        font-size: 2rem;
        font-weight: 500;
    }
    .contact-view .address-text {
        font-size: 1.25rem;
    }
    .contact-view div.row.email {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .contact-view .email-content {
        border: solid 0.5px rgba(255, 255, 255, 0.3);
        border-radius: 10px;
    }
    .contact-view .email-content .email-id {
        font-size: 1.25rem;
        padding: 20px 0 20px 10px;
    }
    .contact-view div.row.email span.email-content i.material-icons {
        font-size: 24px !important;
        padding-top: 23px;
        padding-left: 40px;
    }
}

@media (min-width: 360px) {
    .contact-view div.row.email span.email-content i.material-icons {
        padding-left: 60px;
    }
}

@media (min-width: 600px) {
    .contact-view div.row.email span.email-content i.material-icons {
        padding-left: 85px;
    }
}

@media (min-width: 1200px) {
    .contact-view .headquarter-text {
        font-size: 3rem;
        font-weight: 500;
    }
    .contact-view .address-text {
        font-size: 2rem;
    }
    .contact-view .address-map-image {
        padding-top: 30px;
    }
    .contact-view .address-map-image img {
        height: 100%;
    }

    .contact-view div.row.email {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .contact-view .email-content {
        border: solid 0.5px rgba(255, 255, 255, 0.3);
        border-radius: 10px;
    }

    .contact-view .email-content .email-id {
        font-size: 2rem;
        padding: 45px 0 45px 25px;
    }

    .contact-view div.row.email span.email-content i.material-icons {
        font-size: 36px !important;
        padding-top: 50px;
        padding-left: 60px;
    }
}

@media (min-width: 1600px) {
    .contact-view div.row.email span.email-content i.material-icons {
        padding-left: 100px;
    }
}

@media (min-width: 1920px) {
    .contact-view div.row.email span.email-content i.material-icons {
        padding-left: 150px;
    }
}

@media (min-width: 2100px) {
    .contact-view .headquarter-text {
        padding-top: 5rem;
    }
    .contact-view .address-map-image {
        padding-top: 50px;
    }
    .contact-view div.row.email span.email-content i.material-icons {
        padding-left: 225px;
    }
}

