.page-layout {
  background-image: url(../../assets/Home/background.svg);
}

.contact-view {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.contact-view span {
  display: inline-flex;
  text-align: center;
}

.contact-view span a {
  color: #fff;
}

.contact-view .address-map-image img {
  height: 50%;
}

@media (min-width: 320px) {
  .contact-view .headquarter-text {
    font-size: 2rem;
    font-weight: 500;
  }
  .contact-view .address-text {
    font-size: 1.25rem;
  }
  .contact-view div.row.email {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .contact-view .email-content {
    border: solid 0.5px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }
  .contact-view .email-content .email-id {
    font-size: 1.25rem;
    padding: 20px 0 20px 10px;
  }
  .contact-view div.row.email span.email-content i.material-icons {
    font-size: 24px !important;
    padding-top: 23px;
    padding-left: 40px;
  }
}

@media (min-width: 360px) {
  .contact-view div.row.email span.email-content i.material-icons {
    padding-left: 60px;
  }
}

@media (min-width: 600px) {
  .contact-view div.row.email span.email-content i.material-icons {
    padding-left: 85px;
  }
}

@media (min-width: 1200px) {
  .contact-view .headquarter-text {
    font-size: 3rem;
    font-weight: 500;
  }
  .contact-view .address-text {
    font-size: 2rem;
  }
  .contact-view .address-map-image {
    padding-top: 30px;
  }
  .contact-view .address-map-image img {
    height: 100%;
  }

  .contact-view div.row.email {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .contact-view .email-content {
    border: solid 0.5px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }

  .contact-view .email-content .email-id {
    font-size: 2rem;
    padding: 45px 0 45px 25px;
  }

  .contact-view div.row.email span.email-content i.material-icons {
    font-size: 36px !important;
    padding-top: 50px;
    padding-left: 60px;
  }
}

@media (min-width: 1600px) {
  .contact-view div.row.email span.email-content i.material-icons {
    padding-left: 100px;
  }
}

@media (min-width: 1920px) {
  .contact-view div.row.email span.email-content i.material-icons {
    padding-left: 150px;
  }
}

@media (min-width: 2100px) {
  .contact-view .address-map-image {
    padding-top: 50px;
  }
  .contact-view div.row.email span.email-content i.material-icons {
    padding-left: 225px;
  }
}
