.navbar-brand {
  font-family: Montserrat!important;
  font-size: 24px!important;
  font-weight: 700!important;
  font-style: normal!important;
  font-stretch: normal!important;
  line-height: normal!important;
  letter-spacing: normal!important;
  text-align: left!important;
  color: #ffffff!important;
  line-height:40px!important;
}
.navbar-brand img{float:left;margin-right:20px}
