<section class="nav-header col-12">
  <nav class="navbar">
    <a class="navbar-brand col-2 offset-md-1 col-md-2 offset-lg-1 col-lg-2" href="/">
      <img class="d-sm-none" src="/assets/logo-icon.svg" />
      <img class="d-none d-sm-block" src="/assets/logo-icon-jobox.svg" />
    </a>
    <div class="col-8">
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" href="/careers">HIRING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
</section>