# FRONTEGG
FRONTEGG_CLIENT_ID='838d0cc8-1df0-469a-a728-794c124516b7'
FRONTEGG_API_KEY='c753e083-02ba-4a2e-8e67-7351d0bb86ac'
# END FRONTEGG

LEGACY_DASHBOARD_URL=https://stgapi01.talusapi.com
IRIS_URL=https://talustesting.iriscrm.com
IRIS_API_KEY=wP2cV7Lr8TFaACPSmwVlAumnaYyoYvYvT2xRec5U666I4LV3WY
IRIS_ENV=staging

DB_SSL=false

FINANCE_DB_CONNECTION_STRING=postgres://postgres:postgres@localhost:5432/finance
