# FRONTEGG
FRONTEGG_CLIENT_ID='838d0cc8-1df0-469a-a728-794c124516b7'
FRONTEGG_API_KEY='c753e083-02ba-4a2e-8e67-7351d0bb86ac'
# END FRONTEGG

LEGACY_DASHBOARD_URL=https://stgapi01.talusapi.com
IRIS_URL=https://talustesting.iriscrm.com
IRIS_API_KEY=wP2cV7Lr8TFaACPSmwVlAumnaYyoYvYvT2xRec5U666I4LV3WY
IRIS_ENV=staging

CONNECTOR_DB_URL=mssql://code-user:STG7W>&!9Sy_gH@10.9.220.66/Connector?encrypt=true&trustServerCertificate=true&validateConnection=false
CRESCENT_VIEW_DB_URL=mssql://code-user:STG7W>&!9Sy_gH@10.9.220.66/CrescentView?encrypt=true&trustServerCertificate=true&validateConnection=false
DATA_WAREHOUSE_DB_URL=mssql://code-user:STG7W>&!9Sy_gH@10.9.220.66/DataWarehouse?encrypt=true&trustServerCertificate=true&validateConnection=false
FINANCE_DB_URL=mssql://code-user:STG7W>&!9Sy_gH@10.9.220.66/Finance?encrypt=true&trustServerCertificate=true&validateConnection=false
IRIS_DB_URL=mssql://code-user:STG7W>&!9Sy_gH@10.9.220.66/Iris?encrypt=true&trustServerCertificate=true&validateConnection=false
