NODE_ENV=development

# FRONTEGG
FRONTEGG_CLIENT_ID='838d0cc8-1df0-469a-a728-794c124516b7'
FRONTEGG_API_KEY='c753e083-02ba-4a2e-8e67-7351d0bb86ac'
# END FRONTEGG

LEGACY_DASHBOARD_URL=https://stgapi01.talusapi.com
IRIS_URL=https://talustesting.iriscrm.com
IRIS_API_KEY=
IRIS_ENV=staging

# DB
CONNECTOR_DB_URL=mssql://sa:Denali123!@localhost:1433/Connector?encrypt=true&trustServerCertificate=true&validateConnection=false
CRESCENTVIEW_DB_URL=mssql://sa:Denali123!@localhost:1433/CrescentView?encrypt=true&trustServerCertificate=true&validateConnection=false
DATAWAREHOUSE_DB_URL=mssql://sa:Denali123!@localhost:1433/DataWarehouse?encrypt=true&trustServerCertificate=true&validateConnection=false
IRIS_DB_URL=mssql://sa:Denali123!@localhost:1433/Iris?encrypt=true&trustServerCertificate=true&validateConnection=false
FINANCE_DB_URL=mssql://sa:Denali123!@localhost:1433/Finance?encrypt=true&trustServerCertificate=true&validateConnection=false
EZENROLL_DB_URL=mssql://sa:Denali123!@localhost:1433/EZEnroll?encrypt=true&trustServerCertificate=true&validateConnection=false
EZENROLL_PCC_DB_URL=mssql://sa:Denali123!@localhost:1433/EZEnroll_pcc?encrypt=true&trustServerCertificate=true&validateConnection=false
DSM_DB_URL=mssql://sa:Denali123!@localhost:1433/DSM?encrypt=true&trustServerCertificate=true&validateConnection=false
SNAP_PCC_DB_URL=mssql://sa:Denali123!@localhost:1433/SNAP_pcc?encrypt=true&trustServerCertificate=true&validateConnection=false
PAYA_DB_URL=postgresql://postgres:Denali123!@localhost:5432/postgres

# END DB
#AWS (Access key, secret key and endpint are not required at all, in prod aws sdk will use the default credentials like roles or env variables)
AWS_REGION=us-west-2
AWS_PARTNER_BANK_INVOICE_BUCKET=talus-msp-merchants-monthly-invoice-staging
AWS_SES_SENDER_EMAIL_ADDRESS=do-not-reply@do-not-reply.taluspay-sandbox.com
# Uncomment on local dev to use localstack
# AWS_ENDPOINT=http://localhost:4566

REDIS_QUEUE_HOST=localhost
REDIS_QUEUE_PORT=6379

ATTRIBUTION_DATA_SIGN_SECRET=change_me
